@using BlazorApp1.Components.Pokemon.API.Config;


@if (api.pokemones.Length<1)
{
    @cargando
}
else
{
    <h3>Pokemones</h3>
    //@api.pokemones
    foreach (resultModel results in @api.getObject().Results)
    {
       {img=$"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{i}.png";}
        <ul>
            <li>
                <img src=@img />
                    <span>@results.Name</span>
                  </li>
        </ul>
        ++i;
    }

}


@code {
    private string cargando ="loading...";
    public string img { get; set; }
    private int i = 1;
    Api api = new Api();
    protected override async Task OnInitializedAsync()
    {
        await api.Inicializar();
    }

}
